<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h3>Makayla Hansen</h3>
    <img src="/images/about.jpg" alt="Makayla Hansen">
    <p>I am a Software Engineering major with an emphasis in Full-Stack Web Development. I am in my Junior year and have loved every moment of it!</p>
    <p>Hobbies and Interests:</p>
    <ul>
        <li>National Parks</li>
        <li>Formula 1</li>
        <li>Camping and Roadtrips</li>
        <li>Reading</li>
    </ul>
</main>
<%- include('partials/footer') %>